@charset "utf-8";
html, body { height: 100%; }

header, nav, menu, section, aside, article, footer { display: block; }

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, input, textarea, select {
	margin: 0;
	padding: 0;
}

body {
	font: normal 12px/1.5 "PingFangSC-Regular", "Microsoft YaHei", "微软雅黑", "SimHei", "黑体", "SimSun", "宋体", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	background: #fff;
}

img {
	border: 0;
	vertical-align: top;
}

ol, ul { list-style: none; }

a {
	color: #333;
	text-decoration: none;
}

a:hover { color: #0c82ff; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

em, i { font-style: normal; }

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
}

textarea { resize: none; }

button:focus, input:focus, select:focus, textarea:focus { outline: none; }

/* 浮动 */
.fl { float: left; }

.fr { float: right; }

/* 清除浮动 */
.clear {
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.clearfix { *zoom: 1; }

.clearfix:after, .clearfix:before {
	display: block;
	content: "";
}

.clearfix:after {
	height: 0;
	clear: both;
	visibility: hidden;
}

/* 状态显示 */
.o-hide { overflow: hidden; }

.hide { display: none; }

.block { display: block; }

/* 字号 */
.f-small { font-size: 12px; }

.f-medium { font-size: 14px; }

.f-large { font-size: 16px; }

.f-18 { font-size: 18px; }

.f-20 { font-size: 20px; }

/* 文本对齐 */
.txt-left { text-align: left; }

.txt-center { text-align: center; }

.txt-right { text-align: right; }

.txt-justify { text-align: justify; }

.v-middle { vertical-align: middle; }

/* 行高 */
.l-20 { line-height: 20px; }

.l-24 { line-height: 24px; }

.l-26 { line-height: 26px; }

.l-28 { line-height: 28px; }

.l-30 { line-height: 30px; }

.txt-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-ellipsis {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}
