body, p, h1, h2, h3, h4, h5, h6, dl, dd {
	margin: 0;
	font-size: 12px;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a { text-decoration: none; }

img { border: none; }

.fl { float: left; }

.fr { float: right; }

.clearfix { zoom: 1; }

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
